<form action="/tasks" method="POST">
    <p>Введите параметры задачи</p>
    <label for="ts_name">Название задачи</label>
    <input type="text" name="ts_name"/><br />
    <label for="ts_data_start">Время запуска</label>
    <input type="text" name="ts_data_start" /><br />
    <label for="blue">Кол-во запусков</label>
    <input type="number" name="ts_run_times" /><br />
    <label for="blue">Комментарий</label>
    <textarea type="text" name="ts_comment"></textarea><br />
    <input type="submit" />
</form>
